body {
  font-family: "Montserrat", sans-serif; }

.move-buttons {
  text-align: center; }

.title-move {
  margin-top: 100px; }

.content-move {
  margin-top: 150px; }

textarea.form-control {
  height: 400px; }
